<html>
    <link rel="stylesheet" href="/static/styles.css" />
    <head></head>
    <body>
        <div class="container">
            <div class="row">
                <h1>UAPROGRAMER's HTTP server!</h1>
                <div class="container">
                    <div class="column">
                        <b>|</b>
                        <a class="btn btn-success" href="{{url_for('projects')}}">Projects</a>
                        <b>|</b>
                        <a class="btn btn-success" href="{{url_for('about')}}">About</a>
                        <b>|</b>
                    </div>
                </div>
                <b><br><br>
                    <h2>About:</h2>
                    This http server created by UAPROGRAMER.
                    <br>
                    <a class="btn btn-success" href="https://github.com/UAPROGRAMER">my github</a><br>
                    <a class="btn btn-success" href="https://github.com/UAPROGRAMER/basic-HTTP-server">projects github</a>
                </b>
            </div>
        </div>
    </body>
</html>